In [2]:
from sqlalchemy import create_engine
import pandas as pd
import icartt
import os
import numpy as np

In [3]:
#set directory
fileDirectory = str('c:/Users/cphal/Desktop/NOAA_DATA/')

In [4]:
#prompt user to enter campaign name
campaign = input('Campaign Name: ')
#campaign = 'firexaq'
campaign = campaign.upper()

In [5]:
#get filenames in folder
path = os.chdir(str(fileDirectory + campaign + '/'))
folder_files = []
with os.scandir(path) as entries:
    for entry in entries:
        folder_files.append(entry.name)
        
#FIXME: have following code loop through list folder_files

In [6]:
#parse file name into file beginning, date, and file ending
filename = str(folder_files[0])
file_name_length = len(filename)
#file_abbrev = check_abbreviations(filename, file_name_length, fileDirectory)

date = ''
file_ending = ''
for element in filename[file_name_length - 15 : file_name_length - 7 : 1]:
    date = str(date + element)
for element in filename[file_name_length - 7 : file_name_length : 1]:
    file_ending = str(file_ending + element)

In [7]:
#load in ict file to python
ict = icartt.Dataset(fileDirectory + campaign + "/" + filename)

# get all data (NumPy array):
df = ict.data[:]

# list variable names
varnames = [x for x in ict.variables]

#print to pandas dataframe
dfpandas = pd.DataFrame(df, columns = varnames)

In [8]:
units = []
for x in ict.variables:
    units.append(ict.variables[x].units)
print(units)

['Secs after midnight', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'cm-3', 'unitless']

In [16]:
print(dfpandas)

       Time_mid  CNgt3nm_stdPT  CNgt6nm_stdPT  CNgt20nm_stdPT  \
0       68955.0           3.73           0.70            0.34
1       68956.0           4.48           0.23            0.36
2       68957.0           4.49           0.47            0.39
3       68958.0           5.21           0.23            0.38
4       68959.0           5.94           0.00            0.37
...         ...            ...            ...             ...
16240   85195.0       10243.89      227628.75             NaN
16241   85196.0        9702.38      264086.90             NaN
16242   85197.0            NaN            NaN             NaN
16243   85198.0            NaN            NaN             NaN
16244   85199.0            NaN            NaN             NaN

       CNgt20nm_nonvol_stdPT  Ngt100nm_LAS_stdPT  Ngt100nm_LAS_nonvol_stdPT  \
0                       0.73                 NaN                        NaN
1                       0.65                 NaN                        NaN
2                       0.65                 NaN                        NaN
3                       0.65                 NaN                        NaN
4                       0.80                 NaN                        NaN
...                      ...                 ...                        ...
16240                    NaN                 NaN                        NaN
16241                    NaN                 NaN                        NaN
16242                    NaN                 NaN                        NaN
16243                    NaN                 NaN                        NaN
16244                    NaN                 NaN                        NaN

       CCN_034_stdPT  N_800to50000nm_CPSPD_stdPT  V_800to50000nm_CPSPD_stdPT  \
0                NaN                         NaN                         NaN
1                NaN                         NaN                         NaN
2                NaN                         NaN                         NaN
3                NaN                         NaN                         NaN
4                NaN                         NaN                         NaN
...              ...                         ...                         ...
16240            NaN                        0.82                        0.20
16241            NaN                        0.41                        0.09
16242            NaN                        0.00                        0.00
16243            NaN                        0.13                        0.03
16244            NaN                        0.80                        0.18

       N_2000to50000nm_CDP_ambPT  V_2000to50000nm_CDP_ambPT  stdPT
0                            NaN                        NaN   1.22
1                            NaN                        NaN   1.22
2                            NaN                        NaN   1.22
3                            NaN                        NaN   1.22
4                            NaN                        NaN   1.22
...                          ...                        ...    ...
16240                        NaN                        NaN   1.22
16241                        NaN                        NaN   1.22
16242                        NaN                        NaN   1.22
16243                        NaN                        NaN   1.22
16244                        NaN                        NaN   1.22

[16245 rows x 13 columns]

In [16]:
date_time = ict.times
datetimedf = pd.DataFrame(date_time, columns= ['datetime'])
print(date_time)

['2019-07-16T19:09:15.000000000' '2019-07-16T19:09:16.000000000'
 '2019-07-16T19:09:17.000000000' ... '2019-07-16T23:39:57.000000000'
 '2019-07-16T23:39:58.000000000' '2019-07-16T23:39:59.000000000']

In [50]:
#create foreign key "Date_Time": date + time in hhmmss

#function that converts time in seconds(first column of most df) to uniform time format
def convert_time(sec):
   sec = sec % (24 * 3600)
   hour = sec // 3600
   sec %= 3600
   min = sec // 60
   sec %= 60
   return "%02d%02d%02d" % (hour, min, sec)

In [51]:
#make a new column in the dataframe for the primary key
Date_Time = []
for ind in dfpandas.index:
    time_in_sec = dfpandas.iloc[ind,0]
    pref_time = convert_time(time_in_sec)
    Date_Time.append(str(date) + str(pref_time))

dfpandas.insert(loc=0, column='Date_Time', value = np.array(Date_Time))

In [52]:
#make a new column for date and campaign
dfpandas['Campaign']=campaign

In [55]:
#make another new column for the primary key: file_beginning + date + time
def create_PK(time_date):
    new_name = file_abbrev + time_date
    return new_name

primary_key_column = dfpandas.apply(lambda x: create_PK(x['Date_Time']), axis = 1)
dfpandas.insert(loc=0, column='primary_key', value=primary_key_column)

In [56]:
#extract column names
column_names = dfpandas.columns.values.tolist()

#print to user
print('Current column names and order:' + str(column_names))

Current column names and order:['primary_key', 'Date_Time', 'Time_mid', 'CNgt3nm_stdPT', 'CNgt6nm_stdPT', 'CNgt20nm_stdPT', 'CNgt20nm_nonvol_stdPT', 'Ngt100nm_LAS_stdPT', 'Ngt100nm_LAS_nonvol_stdPT', 'CCN_034_stdPT', 'N_800to50000nm_CPSPD_stdPT', 'V_800to50000nm_CPSPD_stdPT', 'N_2000to50000nm_CDP_ambPT', 'V_2000to50000nm_CDP_ambPT', 'stdPT', 'Date', 'Campaign']

In [57]:
#use the same code as earlier
#open abbreviations file
varabbreviations = pd.read_csv(fileDirectory + 'datavar.csv')
 
for x in column_names:
    var_abbrev = ''
    file_contains_abb = varabbreviations['File_Variable'] == x
    
    if(pd.Series(file_contains_abb).any() == False):
        new_abbrev = input('No matches found. Please enter new abbreviation for variable name "' + x + '" :')
        unique_abb = varabbreviations['Database_Variable'] == new_abbrev
        
        while(pd.Series(unique_abb).any() == True):
            print('Sorry, that abbreviation already exists.')
            new_abbrev = input('Please enter a new abbreviation for variable name "' + x + '" :')
            unique_abb = (varabbreviations['Database_Variable'] == new_abbrev)

        varabbreviations.loc[(len(varabbreviations.index))] = [(len(varabbreviations.index)),x, new_abbrev]
        varabbreviations.to_csv(fileDirectory + 'datavar.csv')
        var_abbrev = new_abbrev
    
    elif(pd.Series(file_contains_abb).any() == True):
        true_index_list = list(np.where(file_contains_abb)[0])
        file_abbrev_index = int(true_index_list[0])
        var_abbrev = varabbreviations.iloc[file_abbrev_index, 2]

    #rename columns based on inputted file abbreviation
    dfpandas = dfpandas.rename(columns = {x : var_abbrev})

In [58]:
#extract new column names
column_names = dfpandas.columns.values.tolist()

#print to user
print('Updated column names and order:' + str(column_names))

Updated column names and order:['primary_key', 'Date_Time', 'Time_mid', 'CNgt3nm_stdPT', 'CNgt6nm_stdPT', 'CNgt20nm_stdPT', 'CNgt20nm_nonvol_stdPT', 'Ngt100nm_LAS_stdPT', 'Ngt100nm_LAS_nonvol_stdPT', 'CCN_034_stdPT', 'N_800to50000nm_CPSPD_stdPT', 'V_800to50000nm_CPSPD_stdPT', 'N_2000to50000nm_CDP_ambPT', 'V_2000to50000nm_CDP_ambPT', 'stdPT', 'Date', 'Campaign']

In [43]:
#FIXME: remove all this
data = [[0.5,1,'x'],[0.75,2,'x'],[1,3,'x'],[1.25,4,'x'],[1.5,5,'x'],[1.75,6,'x'],[2,7,'x'],[2.25,8,'x'],[2.5,9,'x'],[2.75,10,'x']]
dataframe = pd.DataFrame(data, columns = ['abc', 'time','x_column'])
column_names = dataframe.columns.values.tolist()

#create new dataframe to ouput averages to
avgdf = pd.DataFrame

#find resolution
timedifference = dataframe.iloc[1,0]-dataframe.iloc[0,0]

#print messages about resolution if does not meet parameters
if timedifference > 1.0:
    print('ERROR: Resolution greater than 1 second')
elif timedifference == 1.0:
    print('Time difference = 1.0. No calculations necessary.')

#else, average the columns
elif timedifference < 1.0:
    ##loop through all columns so can check to see if data is numeric
    #get type of each column
    numeric_array = []
    date_time_array = []
    for x in dataframe.columns:
        #check to see if variable is a date or time
        #if so, is not numeric, but is a date or time; add boolean to array
        if 'date' in x.lower() or 'time' in x.lower():
            date_time_array.append(True)
            print(x + ' contains time or date')
        else: 
            #is not a date so add false to date or time array
            date_time_array.append(False)
            #check to see if each row is numeric using try/catch block
            #if it is numeric, add the column name to array
            value = dataframe[x][0]
            try:
                tmp = int(value)
                print('The value ' + str(value) + ' is a number')
                numeric_array.append(x)
            except:
                print('The value ' + str(value) + ' is not a number')
    print(numeric_array)

The value 0.5 is a number
time contains time or date
The value x is not a number
['abc']

In [37]:
#find how many rows we need to average per second
multiplier = 1/timedifference
multiplier = int(multiplier)
print(multiplier)

4

In [ ]:
#loop through date/time boolean array, and if a column is a date or time, add the data for the even column
for y in date_time_array:
    if y:

In [39]:
for x in range(int(len(dataframe)/multiplier)):
            #add all rows in that range together for entire length of dataframe
            solution = dataframe.loc[x*multiplier : x*multiplier + multiplier].sum(axis = 'index', skipna = False, numeric_only = True)
            #NOTE: for skipna, if want to make whole sum NaN if an NaN exists, set to False
            #if want to find sums except for NaN set to True
            print(solution)
            #convert output to list, and then find the average
            solutionlist = list(solution[0:len(solution)])
            print(solutionlist)
            listavg = [item/multiplier for item in solutionlist]
            print(listavg)
            #FIXME: change so primary key, time, date are all round and text stuff makes sense

            #add to new dataframe
            avgdf.loc[len(avgdf)] = listavg
            print()
            print(avgdf)
            print()

abc           5.0
time           15
x_column    xxxxx
dtype: object
[5.0, 15, 'xxxxx']

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [59]:
dfpandas

,primary_key,Date_Time,Time_mid,CNgt3nm_stdPT,CNgt6nm_stdPT,CNgt20nm_stdPT,CNgt20nm_nonvol_stdPT,Ngt100nm_LAS_stdPT,Ngt100nm_LAS_nonvol_stdPT,CCN_034_stdPT,N_800to50000nm_CPSPD_stdPT,V_800to50000nm_CPSPD_stdPT,N_2000to50000nm_CDP_ambPT,V_2000to50000nm_CDP_ambPT,stdPT,Date,Campaign
0,FXACC20190716190915,20190716190915,68955.0,3.73,0.70,0.34,0.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.22,20190716,FIREXAQ
1,FXACC20190716190916,20190716190916,68956.0,4.48,0.23,0.36,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.22,20190716,FIREXAQ
2,FXACC20190716190917,20190716190917,68957.0,4.49,0.47,0.39,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.22,20190716,FIREXAQ
3,FXACC20190716190918,20190716190918,68958.0,5.21,0.23,0.38,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.22,20190716,FIREXAQ
4,FXACC20190716190919,20190716190919,68959.0,5.94,0.00,0.37,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.22,20190716,FIREXAQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16240,FXACC20190716233955,20190716233955,85195.0,10243.89,227628.75,NaN,NaN,NaN,NaN,NaN,0.82,0.20,NaN,NaN,1.22,20190716,FIREXAQ
16241,FXACC20190716233956,20190716233956,85196.0,9702.38,264086.90,NaN,NaN,NaN,NaN,NaN,0.41,0.09,NaN,NaN,1.22,20190716,FIREXAQ
16242,FXACC20190716233957,20190716233957,85197.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,1.22,20190716,FIREXAQ
16243,FXACC20190716233958,20190716233958,85198.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13,0.03,NaN,NaN,1.22,20190716,FIREXAQ
16244,FXACC20190716233959,20190716233959,85199.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.80,0.18,NaN,NaN,1.22,20190716,FIREXAQ

In [17]:
#actually upload to postgres

#define terms of Postgres database
username = 'postgres'
password = 'blackcarbon'
database = 'test_database_2'
host = 'localhost'
port = str(5432)

#create engine to connect to Postgres
engine = create_engine('postgresql://'+username+':'+password+'@'+host+':'+port+'/'+database)
print(engine)

#actually import file
dfpandas.to_sql(file_abbrev + str(date), engine)

Engine(postgresql://postgres:***@localhost:5432/test_database_2)

245